@import 'vars';

.boxBanner{
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    img {
        width: 100%;
    }
}

/*Filtro*/
.contenedor-filtro{
    background-color: $beigeVive;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5px 5px;
    gap: 35px;
    .boton-filtro{
        background-color: $beigeVive;
        display: block;
        margin: 10px auto;
        border-radius: 5px solid black;
        color: black;
        padding: 5px 50px;
        border-radius: 5px;
        cursor: pointer;
    }

    .boton-carrito{
        background-color: $beigeVive;
        display: block;
        margin: 10px auto;
        border: none;
        color: black;
        padding: 5px 50px;
        cursor: pointer;
        .cantidad-carrito{
            background-color: black;
            color: #fff;
            border-radius: 50%;
            font-size: 12px;
            padding: 5px;
            display: none;
        }
    }

    .active{
        color: white;
        background-color: $rojoVive;
    }
}

/*Productos*/
.shop-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 50px;
    margin: 30px 80px;
    .card{
        box-shadow: 0 4px 8px 0 black;
        max-width: 300px;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
            
        .card-img{
            width: 80%;
            padding: 20px 0;
        }
        .card-nom{
            display: block;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }
        .card-price{
            display: block;
            text-align: center;
            font-weight: bold;
            font-size: 22px;
        }
    }
    .hide{
        display: none;
    }
    .card-btn{
        background-color: $rojoVive;
        display: block;
        margin: 10px auto;
        color: #fff;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;
    }   
    .card:hover{
        box-shadow: 0 0 10px $rojoVive;
        scale: 1.05;
    }   
}
  
/*Carrito*/
.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    border-radius: 50px;
    color: black;
    background-color: $beigeVive;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
    .modal-header {
        display: flex;
        justify-content: space-around;
        background-color: $rojoVive;
        color: #fff;
        width: 100%;
        .modal-header-title {
            justify-self: start;
        }
        .modal-header-button {
            cursor: pointer;
        }
    }
    .modal-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        margin: 20px;
        border-bottom: solid black;
        img {
            height: 120px;
            width: 120px;
            margin-bottom: 10px;
        }
        .delete-product {
            cursor: pointer;
            img{
               width: 20px; 
               height: auto;
            }
        }
        .restar {
            cursor:pointer;
        }
        .sumar {
            cursor:pointer;
        }
    }

    .total-content {
        font-size: 25px;
        padding: 20px;
        text-align: center;
        padding-top: 20px;
    }
}
.modal-container::-webkit-scrollbar{
    display: none;
}