.bg-propio {
  background-color: rgb(248, 129, 129);
}

.siteFooter {
  width: 100%;
}
.siteFooter .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 150px;
  padding: 45px 0px;
}
.siteFooter .grupo1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.siteFooter .grupo1 .box figure img {
  width: 200px;
}
.siteFooter .grupo1 .box h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 20px;
}
.siteFooter .grupo1 .box p {
  color: black;
  margin-bottom: 10px;
}
.siteFooter .grupo1 .redes a svg {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin-right: 10px;
}
.siteFooter .grupo2 {
  background-color: rgb(248, 129, 129);
  border-top: 2px solid white;
  padding: 15px 10px;
  text-align: center;
  color: black;
}
.siteFooter .grupo2 small {
  font-size: 15px;
}

.boxBanner {
  width: 100%;
  height: auto;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: linear-gradient(rgb(248, 129, 129), rgb(243, 238, 195));
}
.boxBanner img {
  width: 70%;
}

h1 {
  padding: 30px 0;
  text-align: center;
}

.row {
  align-items: center;
  padding: 0 70px;
}
.row .img-home {
  padding-bottom: 30px;
}
.row .text-home {
  text-align: center;
  font-size: 20px;
}

.boxBanner {
  width: 100%;
  height: auto;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.boxBanner img {
  width: 100%;
}

.contenedor-filtro {
  background-color: rgb(243, 238, 195);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 5px 5px;
  gap: 35px;
}
.contenedor-filtro .boton-filtro {
  background-color: rgb(243, 238, 195);
  display: block;
  margin: 10px auto;
  border-radius: 5px solid black;
  color: black;
  padding: 5px 50px;
  border-radius: 5px;
  cursor: pointer;
}
.contenedor-filtro .boton-carrito {
  background-color: rgb(243, 238, 195);
  display: block;
  margin: 10px auto;
  border: none;
  color: black;
  padding: 5px 50px;
  cursor: pointer;
}
.contenedor-filtro .boton-carrito .cantidad-carrito {
  background-color: black;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  padding: 5px;
  display: none;
}
.contenedor-filtro .active {
  color: white;
  background-color: rgb(248, 129, 129);
}

.shop-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 50px;
  margin: 30px 80px;
}
.shop-content .card {
  box-shadow: 0 4px 8px 0 black;
  max-width: 300px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.shop-content .card .card-img {
  width: 80%;
  padding: 20px 0;
}
.shop-content .card .card-nom {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.shop-content .card .card-price {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
.shop-content .hide {
  display: none;
}
.shop-content .card-btn {
  background-color: rgb(248, 129, 129);
  display: block;
  margin: 10px auto;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.shop-content .card:hover {
  box-shadow: 0 0 10px rgb(248, 129, 129);
  scale: 1.05;
}

.modal-container {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  border-radius: 50px;
  color: black;
  background-color: rgb(243, 238, 195);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 8vh;
  scrollbar-color: none;
}
.modal-container .modal-header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(248, 129, 129);
  color: #fff;
  width: 100%;
}
.modal-container .modal-header .modal-header-title {
  justify-self: start;
}
.modal-container .modal-header .modal-header-button {
  cursor: pointer;
}
.modal-container .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 20px;
  border-bottom: solid black;
}
.modal-container .modal-content img {
  height: 120px;
  width: 120px;
  margin-bottom: 10px;
}
.modal-container .modal-content .delete-product {
  cursor: pointer;
}
.modal-container .modal-content .delete-product img {
  width: 20px;
  height: auto;
}
.modal-container .modal-content .restar {
  cursor: pointer;
}
.modal-container .modal-content .sumar {
  cursor: pointer;
}
.modal-container .total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}
.modal-container .total-content .comprar {
  background-color: rgb(248, 129, 129);
  display: block;
  margin: 10px auto;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.boxFerias {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.boxFerias img {
  width: 100%;
}

.siteFerias .feriasGroup {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  align-items: center;
}
.siteFerias .feriasGroup .feriasList {
  list-style: none;
}

.siteContacto {
  margin-top: 45px;
  margin-bottom: 45px;
  justify-content: center;
  align-items: center;
}
.siteContacto .contactoRow .form-control {
  border: 1px solid black !important;
}
.siteContacto .contactoRow .emailButton {
  padding: 5px 5px;
  border: 1px solid black;
  margin-top: 15px;
}
.siteContacto ul .contactoList {
  list-style: none;
  padding-right: 35px;
}
.siteContacto ul .contactoList a {
  text-decoration: none;
  color: black;
}

.carousel .carousel-inner .carousel-item {
  margin: auto;
}

.container h2 {
  margin-top: 45px;
  text-align: center;
  text-decoration: underline;
}
.container p {
  font-size: 20px;
  margin-bottom: 45px;
  text-align: center;
}

body {
  background-color: rgb(243, 238, 195) !important;
}

@media screen and (max-width: 992px) {
  .siteFerias .feriasGroup {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .boxBanner {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: linear-gradient(rgb(248, 129, 129), rgb(243, 238, 195));
  }
  .boxBanner img {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .siteFooter .grupo1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .siteFerias .feriasGroup {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .boxBanner {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: linear-gradient(rgb(248, 129, 129), rgb(243, 238, 195));
  }
  .boxBanner img {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .siteFooter .grupo1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .siteFerias .feriasGroup {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .boxBanner {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: linear-gradient(rgb(248, 129, 129), rgb(243, 238, 195));
  }
  .boxBanner img {
    width: 80%;
  }
  .accordion-item {
    background-color: rgb(243, 238, 195) !important;
  }
  .accordion-item .accordion-header .accordion-button {
    background-color: rgb(248, 129, 129) !important;
    width: 90% !important;
    margin: auto;
  }
  .accordion-item .accordion-body .accordion-group {
    width: 90%;
    height: auto;
    padding: 10px;
    display: flex;
    gap: 20px;
    margin: auto;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .accordion-item .accordion-body .flex-item img {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: auto;
  }
  .accordion-item .accordion-body .flex-item:hover {
    transform: none;
  }
}/*# sourceMappingURL=main.css.map */